body{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    text-transform: none;
    color: rgb(214, 214, 214) !important;
}
a:hover{
    color: white !important;
}
.v-image__image--cover {
    background-size: contain !important;
}
#works > div.v-window.mt-5.mb-15.container.v-item-group.theme--dark.v-carousel {
    height: none !important;
}